<md-sidenav-layout fullscreen>
      <md-sidenav #sidenav>
        <md-nav-list>

          <a tabindex="0" md-list-item routerLink="/crisis-center" routerLinkActive="active" (click)="sidenav.close()"
           [routerLinkActiveOptions]="{ exact: true }">
            <md-icon md-list-icon>book</md-icon>
            <span md-line>My Collection</span>
            <span md-line class="secondary">View your book collection!</span>
          </a>
          <a tabindex="0" md-list-item routerLink="/heroes" routerLinkActive="active" (click)="sidenav.close()">
            <md-icon md-list-icon>phone</md-icon>
            <span md-line>Browse Books</span>
            <span md-line class="secondary">Find your next book!</span>
          </a>
           <a tabindex="0" md-list-item routerLink="/search" routerLinkActive="active" (click)="sidenav.close()">
            <md-icon md-list-icon>Search</md-icon>
            <span md-line>Search for something!</span>
            <span md-line class="secondary">Find your next trip!</span>
          </a>
           <a tabindex="0" md-list-item routerLink="/appcommon" routerLinkActive="active" (click)="sidenav.close()">
            <md-icon md-list-icon>Common</md-icon>
            <span md-line>Common for something!</span>
            <span md-line class="secondary">Find your next common trip!</span>
          </a>
        </md-nav-list>
      </md-sidenav>

<div>

      <md-toolbar color="matteo">
        <button tabindex="0"                      md-icon-button (click)="sidenav.open()">
          <md-icon>menu</md-icon>
        </button>
        <span>Ciao Sono Qui'</span>
      </md-toolbar>

<!--
 <div class="app-content">

    <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>
    </div>
    -->

      <router-outlet></router-outlet>
</div>

   
    </md-sidenav-layout>

